@import "variables";
@import "mixins";

* {
  padding: 0;
  margin: 0;
}

body {
  background: url("../assets/icons/background.svg"), $black center;
  background-size: cover;
  color: $white;
}

main {
  @include toRem(margin-top, 115);
  width: $w100;
  display: flex;
  justify-content: center;
  @media (max-width: 900px) {
    @include toRem(margin-top, 87);
  }
}

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{
  height: 10px!important;
}

.swiper-scrollbar-drag{
  background: $black!important;
}

.LastItem{
  margin-top: 15px;
}
