@import 'variables';
@import 'mixins';

.homeHero {
  width: $w100;
  display: flex;
  justify-content: center;
}

.homeHeroWrap {
  width: $max-width;
  padding-bottom: 120px;
  padding-top: 120px;
  @media (max-width: 600px) {
    width: $w100;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column-reverse;
  }
}

.homeHeroSubtitle {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 30px;
  @media (max-width: 600px) {
    width: $w100;
    padding-left: 15px;
    padding-right: 15px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }
}

.homeHeroSubtitleInstituteWrap {
  border: rgba(255, 255, 255, 0.15) 2px solid;
  border-radius: 42px;
  @media (max-width: 600px) {
    border: none;
    border-radius: 60px;
    width: $w100;
    justify-content: center;
  }
}

.homeHeroSubtitleInstitute {
  background: $white;
  color: $black;
  padding: 24px 48px;
  margin: 7px;
  border-radius: 34px;
  font-size: 20px;
  font-family: $sub-font;
  font-weight: 700;
  @media (max-width: 600px) {
    font-size: 16px;
    text-align: center;
    color: $white;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
  }
}

.homeHeroSubtitleLocation {
  display: flex;
  gap: 5px;
  opacity: $w40;
  font-size: 24px;
  font-family: $sub-font;
  font-weight: 500;
  @media (max-width: 600px) {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: $w100;
  }
}

.homeHeroTitle {
  font-family: $main-font;
  font-size: 70px;
  font-weight: 800;
  text-transform: uppercase;
  @media (max-width: 600px) {
    width: $w100;
    font-size: 36px;
    padding: 0 15px;
  }
}

.titleNumber {
  font-family: $main-font;
  font-size: 70px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #f3ec78;
  background-image: $orange-gradient;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  @media (max-width: 600px) {
    width: $w100;
    font-size: 36px;
    width: $w100;
  }
}

.homeHeroSubtitleLocationIMG {
  @media (max-width: 600px) {
    width: 20px;
    height: 20px;
  }
}
